{% extends 'sitetemplate.html' %}
{% block title %}
    CV - Brand
{% endblock %}
{% block main %}
<main class="page cv-page">
    <section class="portfolio-block block-intro border-bottom">
        <div class="container">
            <div class="avatar" style="background: #569def;"></div>
            <div class="about-me">
                <p>Hello! We are Car Help and we are ready to help you on your car problems!</p>
            </div>
        </div>
    </section>
    <section class="portfolio-block cv">
        <div class="container">
            <div class="work-experience group">
                <div class="heading">
                    <h2 class="text-center">behind car help</h2>
                </div>
                <div class="item">
                    <div class="row">
                        <div class="col-md-6">
                            <h3>Back End Developer</h3>
                            <h4 class="organization">Villamonte, Reece</h4>
                        </div>
                        <div class="col-md-6"><span class="period">June 2021</span></div>
                    </div>
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean eget velit ultricies, feugiat est sed, efficitur nunc, vivamus vel accumsan dui.</p>
                </div>
                <div class="item">
                    <div class="row">
                        <div class="col-6">
                            <h3>Front End Developer</h3>
                            <h4 class="organization">Anchuvas, Kimberly</h4>
                        </div>
                        <div class="col-md-6"><span class="period">June 2021</span></div>
                    </div>
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean eget velit ultricies, feugiat est sed, efficitur nunc, vivamus vel accumsan dui.</p>
                </div>
                <div class="item">
                    <div class="row">
                        <div class="col-md-6">
                            <h3>Knowledge Engineer</h3>
                            <h4 class="organization">Almariego, Gilbert</h4>
                        </div>
                        <div class="col-md-6"><span class="period">June 2021</span></div>
                    </div>
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean eget velit ultricies, feugiat est sed, efficitur nunc, vivamus vel accumsan dui.</p>
                </div>
            </div>
            <div class="education group">
                <div class="heading"></div>
            </div>
            <div class="group">
                <div class="row">
                    <div class="col">
                        <div class="contact-info portfolio-info-card">
                            <h2>Contact Info</h2>
                            <div class="row">
                                <div class="col-1"><i class="icon ion-person icon"></i></div>
                                <div class="col-9"><span>CarHelp</span></div>
                            </div>
                            <div class="row">
                                <div class="col-1"><i class="icon ion-ios-telephone icon"></i></div>
                                <div class="col-9"><span>+639 12 345 6789</span></div>
                            </div>
                            <div class="row">
                                <div class="col-1"><i class="icon ion-at icon"></i></div>
                                <div class="col-9"><span>carhelp@cars.ph</span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}