{% extends 'sitetemplate.html' %}
{% block title %}
    About Us - Car Aid
{% endblock %}
{% block main %}
<main class="page cv-page">
    <section class="portfolio-block block-intro border-bottom">
        <div class="container">
            <div class="avatar" style="background: url({{ url_for('static', filename='/img/CarAidLogo.png') }}) center / contain, var(--bs-light);"></div>
            <div class="about-me">
                <p style="font-weight: normal;">Hello! We are <strong>Car Aid</strong>, and we are ready to help you with your car problems!</p>
            </div>
        </div>
    </section>
    <section class="portfolio-block cv">
        <div class="container">
            <div class="work-experience group">
                <div class="heading">
                    <h2 class="text-center">behind car AiD</h2>
                </div>
                <div class="item">
                    <div class="row">
                        <div class="col-6 col-sm-4 col-lg-3 offset-3 offset-sm-0"><img style="width: 100%;" src="{{ url_for('static', filename='/img/Asset421.png') }}"></div>
                        <div class="col-12 col-sm-6 col-md-6 col-lg-7 offset-0 align-self-center" style="padding: 12px;">
                            <h3>Back End Developer</h3>
                            <h4 class="organization">Villamonte, Reece Philippe E.</h4>
                        </div>
                        <div class="col-4 col-sm-2 col-md-2 col-lg-2 offset-0"><span class="period">June 2021</span></div>
                    </div>
                </div>
                <div class="item">
                    <div class="row">
                        <div class="col-6 col-sm-4 col-lg-3 offset-3 offset-sm-0"><img style="width: 100%;" src="{{ url_for('static', filename='/img/Asset423.png') }}"></div>
                        <div class="col-12 col-sm-6 col-md-6 col-lg-7 offset-0 align-self-center" style="padding: 12px;">
                            <h3>Front End Developer</h3>
                            <h4 class="organization">Anchuvas, Kimberly B.</h4>
                        </div>
                        <div class="col-sm-2 col-md-2 col-lg-2"><span class="period">June 2021</span></div>
                    </div>
                </div>
                <div class="item">
                    <div class="row">
                        <div class="col-6 col-sm-4 col-lg-3 offset-3 offset-sm-0"><img style="width: 100%;" src="{{ url_for('static', filename='/img/Asset419.png') }}"></div>
                        <div class="col-12 col-sm-6 col-md-6 col-lg-7 offset-0 align-self-center" style="padding: 12px;">
                            <h3>Knowledge Engineer</h3>
                            <h4 class="organization">Almariego, Gilbert S.</h4>
                        </div>
                        <div class="col-sm-2 col-md-2 col-lg-2"><span class="period">June 2021</span></div>
                    </div>
                </div>
            </div>
            <div class="education group">
                <div class="heading"></div>
            </div>
            <div class="group">
                <div class="row">
                    <div class="col">
                        <div class="contact-info portfolio-info-card">
                            <h2>Contact Info</h2>
                            <div class="row">
                                <div class="col-1"><i class="icon ion-person icon"></i></div>
                                <div class="col-9"><span>CarAid</span></div>
                            </div>
                            <div class="row">
                                <div class="col-1"><i class="icon ion-ios-telephone icon"></i></div>
                                <div class="col-9"><span>+639 12 345 6789</span></div>
                            </div>
                            <div class="row">
                                <div class="col-1"><i class="icon ion-at icon"></i></div>
                                <div class="col-9"><span>car_aid@cars.ph</span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}
