{% extends 'sitetemplate.html' %}
{% block title %}
    Hire me - Brand
{% endblock %}
{% block main %}
<main class="page hire-me-page">
    <section class="portfolio-block hire-me">
        <div class="container">
            <div class="heading">
                <h2>Welcome to CarHelp!</h2>
            </div>
            <form>
                <div>
                    <fieldset>
                        <legend>Is your car powered by Petrol or Diesel?</legend>
                        <div class="custom-control custom-radio">
                            <input type="radio" id="customRadio1" class="custom-control-input" name="customRadio" checked="">
                            <label class="form-label custom-control-label" for="customRadio1">&nbsp; Petrol</label>
                        </div>
                        <div class="custom-control custom-radio">
                            <input type="radio" id="customRadio2" class="custom-control-input" name="customRadio">
                            <label class="form-label custom-control-label" for="customRadio2">&nbsp; Diesel</label>
                        </div>
                    </fieldset>
                    <fieldset style="">
                        <legend>Are there any warning lights on your dashboard?</legend>
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" id="customRadioInline1" class="custom-control-input" name="customRadioInline" checked="">
                            <label class="form-label custom-control-label" for="customRadioInline1">&nbsp; YES</label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" id="customRadioInline2" class="custom-control-input" name="customRadioInline">
                            <label class="form-label custom-control-label" for="customRadioInline2">&nbsp; NO</label>
                        </div>
                    </fieldset>
                    <fieldset>
                        <legend>Which of these lights are you seeing on your dashboard?</legend>
                        {% for light in lights %}
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" id="customRadioInline1" class="custom-control-input" name="customRadioInline" checked="">
                            <label class="form-label custom-control-label" for="customRadioInline1">&nbsp; {{ light }}</label>
                        </div>
                        {% endfor %}
                    </fieldset>
                    <fieldset>
                        <legend>Solution:&nbsp; <span></span> </legend>
                        <p style="background: rgb(208,238,255);padding: 10px;text-align: justify;"></p>
                    </fieldset>
                </div>
            </form>
        </div>
    </section>
</main>
{% endblock %}
