{% extends 'sitetemplate.html' %}
{% block title %}
    Hire me - Brand
{% endblock %}
{% block main %}
<main class="page hire-me-page">
    <section class="portfolio-block hire-me">
        <div class="container">
            <div class="heading">
                <h2>Welcome to CarHelp!</h2>
            </div>
            <form id="carform">
                <div>
                    <fieldset>
                        <legend>Is your car powered by Petrol or Diesel?</legend>
                        <div class="custom-control custom-radio">
                            <input type="radio" id="customRadio1" value="0" class="custom-control-input" name="pet-dies">
                            <label class="form-label custom-control-label diesel-petrol" for="customRadio1">&nbsp; Petrol</label>
                        </div>
                        <div class="custom-control custom-radio">
                            <input type="radio" id="customRadio2" value="1" class="custom-control-input" name="pet-dies">
                            <label class="form-label custom-control-label diesel-petrol" for="customRadio2">&nbsp; Diesel</label>
                        </div>
                    </fieldset>
                    <fieldset id="nextDiv" style="display: none;">
                        <legend>Are there any warning lights on your dashboard?</legend>
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" id="customRadioInline1" value="0" class="" name="warning">
                            <label class="form-label custom-control-label" for="customRadioInline1">&nbsp; YES</label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" id="customRadioInline2" value="1" class="" name="warning">
                            <label class="form-label custom-control-label" for="customRadioInline2">&nbsp; NO</label>
                        </div>
                    </fieldset>
                    <div id="lights" style="display: none;">
                        <fieldset>
                            <legend>Which of these lights are you seeing on your dashboard?</legend>
                            {% for light in lights %}
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" id="customRadioInline1" class="custom-control-input light-choice" value="{{ loop.index }}" name="lightRadio">
                                <label class="form-label custom-control-label" for="customRadioInline1">&nbsp; {{ light }}</label>
                            </div>
                            {% endfor %}
                        </fieldset>
                    </div>
                    <div id="problems" style="display: none;">
                        <fieldset>
                            <legend>What can you feel/see about your car?</legend>
                            {% for problem in problems %}
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" id="customRadioInline1" class="custom-control-input problem-choice" value="{{ loop.index }}" name="problemRadio">
                                <label class="form-label custom-control-label" for="customRadioInline1">&nbsp; {{ problem }}</label>
                            </div>
                            {% endfor %}
                        </fieldset>
                    </div>
                    <div id="solution_set" style="display: none">
                        <fieldset id="l_solution_set" style="display:none">
                            <legend>Solution:&nbsp; <span></span> </legend>
                            <p style="background: rgb(208,238,255);padding: 10px;text-align: justify;" id="solution"></p>
                        </fieldset>
                        <fieldset id="p_solution_set" style="display:none">
                            <legend>Solution:&nbsp; <span></span> </legend>
                            <p style="background: rgb(208,238,255);padding: 10px;text-align: justify;" id="solution"></p>
                            <legend>What To Do:&nbsp; <span></span> </legend>
                            <ul style="background: rgb(208,238,255);padding: 10px;text-align: justify;" id="todo"></ul>
                        </fieldset>
                    </div>
                    <center>
                        <button type="button" id="solveButton" class="btn btn-primary" style="display: none;">Solve My Problem!</button>
                    </center>
                </div>
            </form>
        </div>
    </section>
</main>
{% endblock %}

{% block js %} 

<script type="text/javascript">
    $(document).ready(function() {
        $("input[name='pet-dies']").click(function() {
            $("#nextDiv").show();
        });

        $("input[name='warning']").click(function() {
            var choice = $(this).val();
            if(choice == 0) {
                $("#lights").show();
                $("input[name='problemRadio']:checked").prop('checked', false);
                $("#problems").hide();
            } else {
                $("#lights").hide();
                $("input[name='lightRadio']:checked").prop('checked', false);
                $("#problems").show();
            }
            $("#solution_set").hide();
            $("#solveButton").hide();
        });

        $("input[name='lightRadio'], input[name='problemRadio']").click(function() {
            var choice = $(this).val();
            $("#solution_set").hide();
            if(choice != 1) {
                $("#solveButton").show();
            } else {
                $("#solveButton").hide();
            }
        });

        //$("input[name='problemRadio']").click

        $("#carform").submit(function (e) {
            var problemKey = ($("input[name='warning']:checked").val() == 0) ? $("input[name='lightRadio']:checked").val() : $("input[name='problemRadio']:checked").val();
            $.ajax({
                data: {
                    petrol_check : $("input[name='pet-dies']:checked").val(),
                    light_check : $("input[name='warning']:checked").val(),
                    problem : problemKey
                },
                type: 'POST',
                url: '/solution'
            }).done(function(response) {
                let solution = response.solution;
                $("#solution_set").show();
                if(solution.light_solution) {
                    var l_solution = $("#l_solution_set");
                    l_solution.css('display', 'block');
                    l_solution.find("#solution").text(response.solution.light_solution);   
                } else {
                    var p_solution = $("#p_solution_set");
                    p_solution.css('display', 'block');
                    p_solution.find("#solution").text(response.solution.problem_solution);
                    var todo = response.solution.to_do;
                    let size = Object.keys(todo).length;
                    var list = $("#todo");
                    for(let i=0; i<size; i++) {
                        list.append(`<li>${todo[i]}</li>`);
                    }
                }
            });

            e.preventDefault();
        })

        $("#solveButton").click(function() {
            $("#carform").submit();
        });
    });

</script>

{% endblock %}

