{% extends 'sitetemplate.html' %}
{% block title %}
    Home - Car Aid
{% endblock %}
{% block main %}
<main class="page lanidng-page">
    <div class="container">
        <div class="row">
            <div class="col align-self-center">
                <section class="portfolio-block block-intro">
                    <div class="container">
                        <div class="avatar" style="background: url({{ url_for('static', filename='/img/CarAidLogo.png') }}) center / contain, var(--bs-light);"></div>
                        <div class="about-me">
                            <p class="text-start" style="font-weight: normal;text-align: left;">Hello! We are&nbsp;<strong>Car Aid</strong><em>.</em> We will help you identify your car problems, regardless if you don't know much about cars!<br></p><a class="btn btn-outline-primary d-lg-flex justify-content-lg-center" role="button" href="carhelp.html" style="text-align: center;width: 30%;">Help Me</a>
                        </div>
                    </div>
                </section>
            </div>
            <div class="col-12 col-md-12 col-lg-6 align-self-center"><img style="width: 100%;" src="{{ url_for('static', filename='/img/carVector.png') }}"></div>
        </div>
    </div>
    <section class="portfolio-block skills">
        <div class="container">
            <div class="heading">
                <h2>hOW CAN WE HELP YOU?</h2>
            </div>
            <div class="row">
                <div class="col-md-4" data-aos="fade-right" data-aos-duration="600" data-aos-delay="400">
                    <div class="card special-skill-item border-0">
                        <div class="card-header bg-transparent border-0"><i class="icon ion-ios-star-outline"></i></div>
                        <div class="card-body">
                            <h3 class="card-title">Expert System</h3>
                            <p class="card-text">We created an expert system to help you identify your car problem and narrow down the margin on where you need to work.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4" data-aos="fade-right" data-aos-duration="450" data-aos-delay="300">
                    <div class="card special-skill-item border-0">
                        <div class="card-header bg-transparent border-0"><i class="icon ion-ios-lightbulb-outline"></i></div>
                        <div class="card-body">
                            <h3 class="card-title">Beginner Friendly</h3>
                            <p class="card-text">Our system targets people with little to no knowledge about cars and their parts. It will help them understand the problem and also know how to avoid it afterward. </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4" data-aos="fade-right" data-aos-duration="300" data-aos-delay="200">
                    <div class="card special-skill-item border-0">
                        <div class="card-header bg-transparent border-0"><i class="icon ion-social-euro"></i></div>
                        <div class="card-body">
                            <h3 class="card-title">Will save you MONEY</h3>
                            <p class="card-text">Being a beginner,&nbsp; it is very easy for some ungrateful mechanics to use it against you and charge you a lot of things you probably don't need! With our system you'll be able to tell them where to work only!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}
