<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>{% block title %}{% endblock %}</title>
    <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
    <link rel="stylesheet" href="{{ url_for('static', filename='fonts/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='fonts/ionicons.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/FAQ-Frequentlly-Asked-Questions-1.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/FAQ-Frequentlly-Asked-Questions.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/css/pikaday.min.css">
    <link rel="icon" href="{{ url_for('static', filename='/img/CarAidLogo2.png') }}">
</head>

<body>
    <nav class="navbar navbar-dark navbar-expand-lg fixed-top bg-white portfolio-navbar gradient">
        <div class="container"><a class="navbar-brand logo" href="/" style="font-weight: bold;">CAR AID</a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navbarNav"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link" href="/" style="font-weight: normal;">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="/understand-cars" style="font-weight: normal;">Understand Cars</a></li>
                    <li class="nav-item"><a class="nav-link active" href="/carhelp" style="font-weight: normal;">Car Expert</a></li>
                    <li class="nav-item"><a class="nav-link" href="/about-us" style="font-weight: normal;">About Us</a></li>
                </ul>
            </div>
        </div>
    </nav>
    {% block main %}{% endblock %}
    <footer class="page-footer">
        <div class="container">
            <div class="links"><a href="/about-us">About Us</a><a href="/understand-cars">Understand Cars</a></div>
            <div class="social-icons"><a href="https://www.facebook.com" style="color: var(--bs-blue);background: #1877f2;"><i class="fa fa-facebook" style="color: #ffffff;"></i></a><a href="www.instagram.com" style="background: linear-gradient(-155deg, black, #515bd4 4%, #8134af 22%, #dd2a7b 52%, #feda77 85%, #f58529 97%), #dd2a7b;">
              <i class="fa fa-instagram" style="color: #ffffff;"></i></a><a href="www.twitter.com" style="background: #08a0e9;"><i class="fa fa-twitter" style="color: rgb(255,255,255);"></i></a></div>
        </div>
    </footer>
    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bs-init.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/pikaday.min.js"></script>
    <script src="{{ url_for('static', filename='js/theme.js') }}"></script>
</body>

{% block js %} {% endblock %}

</html>
